body {
  text-align: center;  
}

.Site {
  display: flex;
  display: -webkit-flex; /* Safari */
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 0.9;
}

a {
  text-decoration:none;
  color: #bbb;
}

footer {
  text-align: center;
}
